body {
    background-color: green;
    margin: 0px;
}

#title {
    background-color: black;
    color: goldenrod;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

#main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0px;
}

#instruction {
    color: rgb(0, 49, 0);
    background-color:rgb(231, 252, 222);
}

#dashboard {
    color:rgb(78, 6, 6);
    background-color: rgb(250, 225, 229);
}

#control {
    color:rgb(1, 1, 75);
    background-color: lightcyan;
}